<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.assets"><i class="icon-speedometer"></i> Assets</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.news"><i class="icon-speedometer"></i> Cryptonews</a>
            </li>
        </ul>
    </nav>
</div>
