<div class="animated fadeIn">

    <input placeholder="Search..." ng-model="searchText"></label>

    <table class="table table-hover table-outline m-b-0 hidden-sm-down">
                    <thead class="thead-default">
                        <tr>
                            <th>Ticker</th>
                            <th>Symbol</th>
                            <th>Price USD</th>
                            <th>Price BTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ticker in priceTickers | filter:searchText">
                            <td>
                                <div><a ng-href="https://coinmarketcap.com/currencies/{{ticker.id}}" target="_blank">{{ticker.id}}</a></div>
                            </td>
                            <td>
                                <div>{{ticker.symbol}}</div>
                            </td>
                            <td>
                                <div>{{ticker.price_usd}}</div>
                            </td>
                            <td>
                                <div>{{ticker.price_btc.toFixed(6)}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
</div>