<div class="animated fadeIn">
        <table class="table table-hover table-outline m-b-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in news">
                                <td>
                                    <div><a ng-href="{{item.url}}" target="_blank">{{item.title}}</a></div>
                                </td>
                                <td>
                                    <div>{{item.time}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
</div>